* {
  box-sizing: border-box; }
.heading  h1 {
  font-family: Georgia;
  font-size: 200%;
}
.heading:hover small { background-color: #665544; }
.heading small {
  font-size: 50%;
  color: Red; 
}
.box { height: 300px; width: 400px; color: Red; }
