* {
  box-sizing: border-box; }
.heading  h1 {
  font-family: Georgia;
  font-size: 200%;
}
.heading:hover small { background-color: purple; }
.heading small {
  font-size: 50%;
  cursor: crosshair;
  color: Green; 
}
body {
  background-color: #C0C0C0;
}
.box { height: 400px; width: 400px; 
  Box-shadow: 5px 5px 5px #777777
  border-style: ridge;
}
